{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "transform-glob-import",
    ["module-resolver", {
      "alias": {
        "~": "./src"
      }
    }]
  ]
}
